@media (max-width: 992px){

  .offers{
    width: 85%;
    padding: 40px 50px;
    height: auto;       
    gap: 30px;
  }

  .offers-left{
    margin-left: 0;      
  }

  .offers-left h1{
    font-size: 32px;
  }

  .offers-left p{
    font-size: 16px;
  }

  .offers-right img{
    max-height: 350px;
  }
}


@media (max-width: 768px){

  .offers{
    width: 95%;
    flex-direction: column;  
    text-align: center;
    padding: 30px 20px;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .offers-left{
    align-items: center;
    margin-left: 0;
  }

  .offers-left h1{
    font-size: 26px;
  }

  .offers-left p{
    font-size: 14px;
  }

  .offers-left button{
    width: 100%;
    max-width: 240px;
    height: 42px;
  }

  .offers-right{
    justify-content: center;
  }

  .offers-right img{
    max-height: 280px;
    margin-top: 20px;
  }
}
@media (max-width: 480px){

  .offers{
    padding: 20px 15px;
  }

  .offers-left h1{
    font-size: 20px;
  }

  .offers-left p{
    font-size: 13px;
  }

  .offers-right img{
    max-height: 220px;
  }
}
