.offers{
  width: 65%;
  margin: 120px auto;
  padding: 50px 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  border-radius: 16px;
  background: linear-gradient(180deg,#e1ffea22,#47fdae 60%);

  height: auto;
}

.offers-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 0; 
}

.offers-left h1{
  font-size: 40px;
  color: #171717;
  margin-bottom: 10px;
}

.offers-left p{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.offers-left button{
  width: 200px;
  height: 44px;
  border-radius: 30px;
  background: #ff4141;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* RIGHT */
.offers-right{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offers-right img{
  max-width: 100%;
  max-height: 450px;
  object-fit: contain;
}


@media (max-width: 992px){

  .offers{
    width: 85%;
    padding: 40px;
  }

  .offers-left h1{
    font-size: 32px;
  }

  .offers-right img{
    max-height: 320px;
  }
}


@media (max-width: 768px){

  .offers{
    flex-direction: column; 
    text-align: center;

    width: 95%;
    padding: 30px 20px;
    gap: 25px;
  }

  .offers-left{
    align-items: center;
  }

  .offers-left h1{
    font-size: 26px;
  }

  .offers-left p{
    font-size: 15px;
  }

  .offers-left button{
    width: 100%;
    max-width: 240px;
  }

  .offers-right img{
    max-height: 260px;
  }
}


@media (max-width: 480px){

  .offers-left h1{
    font-size: 20px;
  }

  .offers-left p{
    font-size: 13px;
  }

  .offers-right img{
    max-height: 200px;
  }
}
