.item{
    width: 200px;
    border:1px solid black;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.4s ease;
}

.item p{
    margin: 6px 10px;
}

.item img{
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}

.item-prices{
    display: flex;
    gap: 20px;
    align-items: center;
    padding-bottom: 10px;
}

.item-price-new{
    color:#374151;
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
}

@media (max-width: 1024px){
    .item{
        width: 180px;
    }
}



@media (max-width: 768px){
    .item{
        width: 45%;
    }

    .item-prices{
        gap: 10px;
        font-size: 14px;
    }

    .item:hover{
        transform: none; 
    }
}



@media (max-width: 480px){
    .item{
        width: 100%;
    }

    .item-price-new,
    .item-price-old{
        font-size: 14px;
    }
}
